##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

$page.setTitle("XDAT")

$page.setLinkColor($ui.alink)

$page.setVlinkColor($ui.vlink)

#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])

#set($days = [ 1..31 ])

#set($years = [ 2004..1900])

#if ($data.message)

<DIV class="error">$data.message</DIV><br>

#end

<p>

<form name="form1" method="post" action="$link.setAction("ModifyStoredSearch")">

#if($vr)

	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>

<HR>

#end

<script type="text/javascript">

<!--

function popupFields(textID,elementBox,headerID,typeID)

{

var element_name;

if (! window.focus)return true;

if (document.getElementById)

{

	element_name = document.getElementById(elementBox).value;

}

else if (document.all)

{

	element_name = document.all[elementBox].value;

}

if (element_name == null || element_name=='')

{

alert("Please select a data type.");

	return false;

}



var link = "$link.setPage('FieldPopup.vm').addPathInfo('popup','true')";

link = link + "/element_name/" + element_name.toString() + "/textID/" + textID.toString() + "/headerID/" + headerID.toString() + "/typeID/" + typeID.toString();



childWindow =window.open(link, '','width=400,height=300,status=yes,resizable=yes,scrollbars=yes,toolbar=yes');

if (childWindow.opener == null) childWindow.opener = self;



return false;



}



function popupSortFields(textID,elementBox)

{

var element_name;

if (! window.focus)return true;

if (document.getElementById)

{

	element_name = document.getElementById(elementBox).value;

}

else if (document.all)

{

	element_name = document.all[elementBox].value;

}

if (element_name == null || element_name=='')

{

alert("Please select a data type.");

	return false;

}



var link = "$link.setPage('FieldPopup.vm').addPathInfo('popup','true')";

link = link + "/element_name/" + element_name.toString() + "/textID/" + textID.toString();



childWindow =window.open(link, '','width=400,height=300,status=yes,resizable=yes,scrollbars=yes,toolbar=yes');

if (childWindow.opener == null) childWindow.opener = self;



return false;



}

-->

</script>

<TABLE width="100%">

	<TR>

		<TD>

			<table width="100%">

				<TR>

					<TD align="left" valign="middle">

						<font face="$ui.sansSerifFonts" size="3"><b>Bundle Details</b></font>

					</TD>

				</TR>

			</TABLE>

		</TD>

	</TR>

	<TR>

		<TD>

			<TABLE width="100%">

				<TR>

					<TD valign="top">

						<TABLE>

							<TR><TD>ID</TD><TD>#xdatTextBox("xdat:stored_search/ID" $item "" $vr)</TD></TR>

							<TR><TD>brief description</TD><TD>#xdatTextBox("xdat:stored_search/brief-description" $item "" $vr)</TD></TR>

							<TR><TD>description</TD><TD>

							<textarea name="xdat:stored_search/description" rows="3" cols="50" style="text-align:left;">$!item.getStringProperty("xdat:stored_search/description")</textarea></TD></TR>

						

							<TR><TD>Pivot Data Type</TD>

							<TD>

							#if($elements)

								#xdatSelectBoxWSingleValue("xdat:stored_search/root_element_name" $item $elements $vr)

							#else

								#xdatTextBox("xdat:stored_search/root_element_name" $item "" $vr)

							#end

							</TD>

							</TR>

							

							<TR><TD>Sort By Data Type</TD>

							<TD>

							#if($elements)

								#xdatSelectBoxWSingleValue("xdat:stored_search/sort_by/element_name" $item $elements $vr)

							#else

								#xdatTextBox("xdat:stored_search/sort_by/element_name" $item "" $vr)

							#end

							</TD></TR>

							<TR><TD>Sort By Field</TD>

							<TD><A ONCLICK="return popupSortFields('SORT_FIELD','xdat:stored_search/sort_by/element_name');" href=""><IMG border=0 src="$content.getURI("images/update.gif")"/></A> 

							#if ($item.getProperty("xdat:stored_search/sort_by/field_ID"))

								<input ID="SORT_FIELD" type="text" name="xdat:stored_search/sort_by/field_ID" value="$item.getProperty("xdat:stored_search/sort_by/field_ID")"/>

							#else

							<input ID="SORT_FIELD" type="text" name="xdat:stored_search/sort_by/field_ID" value=""/>

							#end

							</TD></TR>

							

							<TR><TD>Layered Sequence</TD>

							<TD> 

							#if ($item.getProperty("xdat:stored_search/layeredSequence"))

								<input type="text" name="xdat:stored_search/layeredSequence" value="$item.getProperty("xdat:stored_search/layeredSequence")"/>

							#else

								<input type="text" name="xdat:stored_search/layeredSequence" value=""/>

							#end

							</TD></TR>

							

							<TR><TD>Display Diff Columns</TD><TD>#xdatBooleanRadio("xdat:stored_search/allow-diff-columns" $item true $vr)</TD></TR>

							<TR><TD>Limited Access?</TD><TD>#xdatBooleanRadio("xdat:stored_search/secure" $item true $vr)</TD></TR>

						</TABLE>

					</TD>

				</TR>

			</TABLE>

		</TD>

	</TR>

	<TR>

		<TD>

			<TABLE>

				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">Displayed Fields</font></TH></TR>

				<TR>

					<TD align="left" valign="top">

						#set($sfs = $item.getChildItems("xdat:stored_search/search_field"))

						<TABLE>

							<TR>

								#if($sfs.size()>0)

								<TD>Remove</TD>

								#end

								<TD>element_name</TD>

								<TD>field_ID</TD>

								<TD>sequence</TD>

								<TD>type</TD>

								<TD>header</TD>

								<TD>search value</TD>

							</TR>

							#set($xdat_search_field_1_NUM_ROWS=$sfs.size())

							#if($xdat_search_field_1_NUM_ROWS==0)

								#set($xdat_search_field_1_NUM_ROWS=30)

							#else

								#set($xdat_search_field_1_NUM_ROWS=$xdat_search_field_1_NUM_ROWS + 5)

							#end

							

							#foreach($xdat_search_field_1_COUNTER in [0..$xdat_search_field_1_NUM_ROWS])

								<TR>

									#if($sfs.size()>0)

										<TD>

											#if($!item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/xdat_search_field_id"))

											<INPUT TYPE="checkbox" NAME="REMOVE__$xdat_search_field_1_COUNTER=xdat:search_field.xdat_search_field_id" VALUE="$!item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/xdat_search_field_id")"/>

											#end

										</TD>

									#end

									<TD>

									#if($elements)

										#xdatSelectBoxWSingleValueWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/element_name" $item $elements $vr "SEARCH_FIELD_ELEMENT${xdat_search_field_1_COUNTER}")

									#else

										#xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/element_name" $item "" $vr "SEARCH_FIELD_ELEMENT${xdat_search_field_1_COUNTER}")

									#end

									</td>

									<TD NOWRAP><A ONCLICK="return popupFields('SEARCH_FIELD${xdat_search_field_1_COUNTER}','SEARCH_FIELD_ELEMENT${xdat_search_field_1_COUNTER}','SEARCH_FIELD_HEADER${xdat_search_field_1_COUNTER}','SEARCH_FIELD_TYPE${xdat_search_field_1_COUNTER}');" href=""><IMG border=0 src="$content.getURI("images/update.gif")"/></A> 

									#if ($item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/value"))

									  #set($field = $item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/field_ID"))

									  #set($value = $item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/value"))

									  #if($field.indexOf("=$value")>0)

									  #set($index = $field.indexOf("=$value"))

									  <INPUT TYPE="text" value="$field.substring(0,$index)" name="xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/field_ID" id="xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/field_ID"/>

									  #else

									  #xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/field_ID" $item "" $vr "SEARCH_FIELD${xdat_search_field_1_COUNTER}")

									  #end

									#else

									#xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/field_ID" $item "" $vr "SEARCH_FIELD${xdat_search_field_1_COUNTER}")

									#end

									</TD>

									<TD>

									#if ($vr)

	#if($vr.getField("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/sequence"))

		<font color="red">&#8658</font>

	#end

#end

		<input size="5" id="xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/sequence" type="text" name="xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/sequence" value="$!item.getProperty("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/sequence")"/>

</TD>

									<TD>#xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/type" $item "" $vr "SEARCH_FIELD_TYPE${xdat_search_field_1_COUNTER}")</TD>

									<TD>#xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/header" $item "" $vr "SEARCH_FIELD_HEADER${xdat_search_field_1_COUNTER}")</TD>

									<TD>#xdatTextBoxWID("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/value" $item "" $vr "SEARCH_FIELD_VALUE${xdat_search_field_1_COUNTER}")</TD>

									#xdatHiddenBox("xdat:stored_search/search_field[$xdat_search_field_1_COUNTER]/xdat_search_field_id" $item "")

								</TR>

							#end

						</TABLE>

					</TD>

				</TR>

				<TR>

					<TD align="left" valign="top">

						<TABLE><TR><TD>

							#foreach($xdat_criteria_set_1_COUNTER in [0..2])

								<BR><TABLE>

									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">Where Clause $xdat_criteria_set_1_COUNTER</font></TH></TR>

									<TR>

										<TD align="left" valign="top">

											<TABLE>

												<TR>

										#if($!item.getProperty("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/xdat_criteria_set_id"))

												<TH>Remove</TH>

									<TD>

										<INPUT TYPE="checkbox" NAME="REMOVE__$xdat_criteria_set_1_COUNTER=xdat:criteria_set.xdat_criteria_set_id" VALUE="$!item.getProperty("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/xdat_criteria_set_id")"/>

									</TD>

										#end

												#set($methods = ["AND","OR"])

												<TD>method</TD><TD>

												#xdatSelectBoxWSingleValue("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/method" $item $methods $vr)</TD></TR>

																		#xdatHiddenBox("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/xdat_criteria_set_id" $item "")

											</TABLE>

										</TD>

									</TR>

									<TR>

										<TD align="left" valign="top">

											<TABLE>

												<TR>

													<TD>Display field</TD>

													<TD>comparison type</TD>

													<TD>custom search</TD>

													<TD>value</TD>

													<TD>override value formatting</TD>

												</TR>

												#set($comparisonTypes = ["=",">=","<=",">","<"," LIKE "," IS"])

		

												#foreach($xdat_criteria_2_COUNTER in [0..3])

													<TR>

														<TD>#xdatTextBox("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/schema_field" $item "" $vr)</TD>

														<TD>#xdatSelectBoxWSingleValue("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/comparison_type" $item $comparisonTypes $vr)

														</TD>

														<TD>#xdatTextBox("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/custom_search" $item "" $vr)</TD>

														<TD>#xdatTextBox("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/value" $item "" $vr)</TD>

														<TD>

														#if ($item.getBooleanProperty("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/override_value_formatting","false"))

															<INPUT type="checkbox" name="xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/override_value_formatting" value="true" CHECKED/>

														#else

															<INPUT type="checkbox" name="xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/override_value_formatting" value="true" />

														#end

														#xdatHiddenBox("xdat:stored_search/search_where[$xdat_criteria_set_1_COUNTER]/criteria[$xdat_criteria_2_COUNTER]/xdat_criteria_id" $item "")

													</TR>

												#end

											</TABLE>

										</TD>

									</TR>

								</TABLE>

							#end

						</TD></TR></TABLE>

					</TD>

				</TR>

<TR>

					<TD align="left" valign="top">

						<TABLE><TR><TD>

							<BR><font face="$ui.sansSerifFonts" size="2"><b>Allowed Users</b></font>

							<BR>

								#set($allowed_users=$item.getChildItems("xdat:stored_search/allowed_user"))

								<TABLE>

									<TR>

										#if($allowed_users.size() > 0)

										<TH>Remove</TH>

										#end

										<TH>login</TH>

									</TR>

							#foreach($xdat_user_2_COUNTER in [0..10])

								<TR>

									#xdatHiddenBox("xdat:stored_search/allowed_user[$xdat_user_2_COUNTER]/xdat_stored_search_allowed_user_id" $item "")

									#if($allowed_users.size() > 0)

										<TD>

											#if($!item.getProperty("xdat:stored_search/allowed_user[$xdat_user_2_COUNTER]/xdat_stored_search_allowed_user_id"))

												<INPUT TYPE="checkbox" NAME="REMOVE__$xdat_user_2_COUNTER=xdat:stored_search_allowed_user.xdat_stored_search_allowed_user_id" VALUE="$!item.getProperty("xdat:stored_search/allowed_user[$xdat_user_2_COUNTER]/xdat_stored_search_allowed_user_id")"/>

											#end

										</TD>

									#end

									<TD>

									#if($users)

										#xdatSelectBoxWSingleValue("xdat:stored_search/allowed_user[$xdat_user_2_COUNTER]/login" $item $users $vr)

									#else

										#xdatTextBox("xdat:stored_search/allowed_user[$xdat_user_2_COUNTER]/login" $item "" $vr)

									#end

									</TD>

								</TR>

							#end

						</TD></TR></TABLE>

					</TD>

				</TR>

			</TABLE>

		</TD>

	</TR>
	<TR>

		<TD>

		#xdatEditProps($item $edit_screen)

		<INPUT type="hidden" name="destination" value="$!destination"/>

		<TR><TD COLSPAN=2 ALIGN=left><input type="submit" name="eventSubmit_doPerform" value="Submit"/></TD></TR>

		</TD>

	</TR>

</TABLE>

</form>

