/* 
 * Copyright (c) 2007 Washington University in St. Louis
 */

div.instructions {
  width: 80%;
  margin: 1em;
}

div.instructions p {
  margin-bottom: 1em;
}

div.prearcs {
  width: 85%;
  height: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
}

div.inbox div.content table {
  width: 100%;
  padding: 0.5em; padding-top: 0; padding-bottom: 0;
}

div.inbox div.actions {
  padding-bottom: 0.5em;
  margin: 0.5em; margin-top: 0;
}

div.inbox div.actions input {
  float: right;
}

div.inbox div.importlog {
  margin: 1em;
  padding: 0.5em;
  height: 100px;
  overflow: auto;
  border: 2px solid green;
}

div.inbox div.importlog p {
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.25em; margin-bottom: 0.25em;
}

div.inbox div.importlog p.header {
  font-size: larger;
  font-weight: bolder;
}

div.inbox div.importlog p.processing {}

div.inbox div.importlog p.warning {
  background: #ccccff;
}

div.inbox div.importlog p.failed {
  background: #ff6666;
}

div.inbox div.importlog p.completed {
  background: #ccffcc;
}

div.prearc-select {
  text-align: center;
}

div.prearc-select select {
	margin: 1em;
}

div.prearc {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  padding: 0.5em;
  overflow: auto;
}

table.prearc {
  width: 100%;
  padding: 0.5em; padding-top: 0;
}

div.match-op {
	width: 80%;
	padding: 1em;
	text-align: right;
}

/* Sessions get background color indicating status */
div.instructions div.colorkey {
	width: 100%;
	text-align: center
}
div.instructions div.colorkey span {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
table.prearc tr.RECEIVING  { background: #ccccff; }
div.colorkey span.RECEIVING { background: #ccccff; }
table.prearc tr.BUILDING   { background: #ffccff; }
div.colorkey span.BUILDING  { background: #ffccff; }
/* table.prearc tr.READY { } */
table.prearc tr.ARCHIVING  { background: #ccffff; }
div.colorkey span.ARCHIVING { background: #ccffff; }
table.prearc tr.ERROR      { background: #ff6666; }
div.colorkey span.ERROR     { background: #ff6666; }
