<div class="yui-skin-sam" style="">
  <h1>Accessible projects</h1>
  You already have access to these projects.
  <div id="primary_projects"></div>

  <h1>Other projects</h1>
  These projects have been added by other users.
  <div id="other_projects"></div>
</div>

<script type="text/javascript">
  var primary_projects = document.getElementById("primary_projects");
  var other_projects = document.getElementById("other_projects");
	  
  var addButtonFormatter = function(elCell, oRecord, oColumn, oData) {  
	    elCell.innerHTML="<input type=\"button\" ONCLICK=\"window.location='$link.setPage("XDATScreen_report_xnat_projectData.vm")/search_element/xnat:projectData/search_field/xnat:projectData.ID/search_value/" + oRecord.getData("id") + "';\" value=\"Open\"/>"; 
  }; 
  
 
	  var projColumnDefs=[
	  {key:"button",label:"Open",formatter:addButtonFormatter},
	  {key:"secondary_id",label:"Abbv",sortable:true},
	  {key:"name",label:"Name",sortable:true},
	  {key:"description",label:"Description",sortable:true},
	  {key:"project_invs",label:"Investigators",sortable:true},
	  {key:"insert_date",label:"Inserted on",sortable:true},
	  {key:"insert_user",label:"Inserted by",sortable:true}];
  
  var requestButtonFormatter = function(elCell, oRecord, oColumn, oData) {  
	    elCell.innerHTML="<input type=\"button\" ONCLICK=\"window.location='$link.setPage("RequestProjectAccess.vm")/project/" + oRecord.getData("id") + "';\" value=\"Request\"/>"; 
  }; 
 
	  var otherprojColumnDefs=[
	  {key:"button",label:"Request Access",formatter:requestButtonFormatter},
	  {key:"secondary_id",label:"Abbv",sortable:true},
	  {key:"name",label:"Name",sortable:true},
	  {key:"description",label:"Description",sortable:true},
	  {key:"project_invs",label:"Investigators",sortable:true},
	  {key:"insert_date",label:"Inserted on",sortable:true},
	  {key:"insert_user",label:"Inserted by",sortable:true}];

   var projectsDataSource = new YAHOO.util.DataSource(serverRoot + "/REST/projects?");
   projectsDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
   projectsDataSource.responseSchema = {
     resultsList : "ResultSet.Result",
     fields: ["id","secondary_id","name","description","project_invs","project_users","project_access","insert_date","insert_user"]
   };
        
   var projectsDataTable = new YAHOO.widget.DataTable("primary_projects", projColumnDefs,projectsDataSource,{initialRequest:"format=json&accessible=true"});


   var otherprojectsDataSource = new YAHOO.util.DataSource(serverRoot + "/REST/projects?");
   otherprojectsDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
   otherprojectsDataSource.responseSchema = {
     resultsList : 'ResultSet.Result', // String pointer to result data
     fields: ["id","secondary_id","name","description","project_invs","project_users","project_access","insert_date","insert_user"]
   };
        
   var otherprojectsDataTable = new YAHOO.widget.DataTable("other_projects", otherprojColumnDefs,otherprojectsDataSource,{initialRequest:"format=json&accessible=false"});

  var breadcrumbs=document.getElementById('breadcrumbs');
  if (breadcrumbs!=null){
    var bread = "<a href='$link.setPage('Index.vm')'>Home</a>";
    bread = bread + "&nbsp;>&nbsp;Studies";
    breadcrumbs.innerHTML=bread;
  }
  
	
</script>