#if($data.getSession().getAttribute("user").checkRole("Administrator"))

<form name="form1" method="post" action="$link.setAction("SetEmailSpecs")">

<table>

 <TR>

   <TD COLSPAN=2>

     <DIV class="edit_title">Admin Email Configuration</DIV>

     <DIV >This edit page is also available through the Administration > More... section of the website.</DIV>

   </TD>

 </TR>

 <TR>

   <TD COLSPAN=2>

     &nbsp;

   </TD>

 </TR>

 <INPUT TYPE="hidden" NAME="arc:ArchiveSpecification/arc_archivespecification_id" VALUE="$!arc.getProperty("arc_archivespecification_id")"/>

 <TR>

   <TD align="left"><DIV class="edit_header2">New User Registration</DIV></TD>

 </tr>

 <TR>
   <TD align="left">Would you like the Site Admin to receive a copy of emails sent to users when they register for a user account, or are authorized for an account.</TD>
 </tr>
 <TR>
   <TD>#xdatBooleanRadioYesNo("arc:ArchiveSpecification/emailSpecifications/new_user_registration" $arc.getItem() true $vr)</TD>
 </TR>
 <TR>

   <TD>&nbsp;</TD>

 </TR>

 <TR>
   <TD align="left"><DIV class="edit_header2">Page/Search Emails</DIV></TD>

 </tr>

 <TR>

   <TD align="left">Would you like the Site Admin to receive a copy of reports and searches emailed by users.</TD>

 </tr>

 <TR>
   <TD>#xdatBooleanRadioYesNo("arc:ArchiveSpecification/emailSpecifications/page_email" $arc.getItem() true $vr)</TD>
 </TR>
 <TR>

   <TD>&nbsp;</TD>

 </TR>

 <TR>
   <TD align="left"><DIV class="edit_header2">Project Access Requests</DIV></TD>

 </tr>

 <TR>

   <TD align="left">Would you like the Site Admin to receive a copy of Project Access Requests/Approvals.</TD>

 </tr>

 <TR>
   <TD>#xdatBooleanRadioYesNo("arc:ArchiveSpecification/emailSpecifications/project_access" $arc.getItem() true $vr)</TD>
 </TR>
 <TR>

   <TD>&nbsp;</TD>

 </TR>

 <TR>
   <TD align="left"><DIV class="edit_header2">Transfers</DIV></TD>

 </tr>

 <TR>

   <TD align="left">Would you like the Site Admin to receive a copy of Transfer success message sent to users (Admin always receives transfer failure messages).</TD>

 </tr>
 <TR>
   <TD>#xdatBooleanRadioYesNo("arc:ArchiveSpecification/emailSpecifications/transfer" $arc.getItem() true $vr)</TD>
 </TR>
 <TR>

   <TD>&nbsp;</TD>

 </TR>

 

 <TR>

   <TD COLSPAN=2>

     &nbsp;

   </TD>

 </TR>

 <TR>
   <TD COLSPAN="2" align="center">

     <INPUT TYPE="submit" value="Save" name="eventSubmit_doPerform"/>

   </TD>

 </TR>

</table>

</form>



#else

<DIV class="warning">WARNING:  The email settings of this server have not been set.  Please log in using an 'Administrator' account, like admin, and adjust the default settings.</DIV>

#end