#set ( $exptHeadings = ["Date", "Type", "ID", "Investigator" ] )
		<style>
DIV.container{
	border: 1px solid #AAAAAA;
    width:250px;  
}
DIV.containerTitle{
			    border: 1px solid #AAAAAA;
    padding:3px;
    font-weight:500;
	font-family:verdana,geneva,helvetica;
}
DIV.containerBody{
    width:99%;
    overflow:auto;
    font-size:13px;
    line-height:15px;
    padding:3px;
    
		</style>
<script type="text/javascript">  
if(XNAT.app.subject==undefined)XNAT.app.subject=new Object(); 
</script>
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">				
				<TR>
					<TD align="left" valign="middle">
<DIV class="edit_title">Subject Details: #if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
		<!--BEGIN SUBJECT SUMMARY TABS -->
<STYLE>
span.spacer{
height:12px;
width:1px;
}
</STYLE>
<div ID="subject_summary_module" style="display:none">
 <DIV id="subjectSummary" class="yui-navset">
  <ul class="yui-nav" style="">
      <li class="selected"><a href="#tab1"><em>Details<span class="spacer"></span></em></a></li>
      <li><a href="#tab2"><em>Projects<span class="spacer"></span></em></a></li>
  </ul>
 <div class="yui-content">   
  <div id="tab1"><p>
 <table>
#parse($turbineUtils.getTemplateName("_keyFields","xnat:subjectData",$!project))
 </table>
</p></div>  
 
  <div id="tab2"><p>
#parse($turbineUtils.getTemplateName("sharing","xnat:subjectData",$!project))
</p></div> 
  </div> 
 </DIV>
</div>
<script type="text/javascript">  
function summaryIndexChanged(){
   var activeIndex=this.get("activeIndex");
   YAHOO.util.Cookie.set("${project.getId()}.summary.index",activeIndex);
}
   
function summaryTabManagerInit(){
    window.summaryTabView = new YAHOO.widget.TabView('subjectSummary');   
    window.subject_summary_module = new YAHOO.widget.Module("subject_summary_module",{visible:false,zIndex:5});
    
    window.subject_summary_module.show(); 		    
    
#if($canReadSubjects)
    var tabIndex=YAHOO.util.Cookie.get("${om.getId()}.summary.index");
    window.summaryTabView.set('activeIndex',tabIndex||0);
    
    window.summaryTabView.subscribe("activeTabChange",summaryIndexChanged);
#end
					}
					summaryTabManagerInit();
</script>
<!--END SUBJECT SUMMARY TABS -->
					</TD>
					<TD valign="top" align="right" rowspan="2">
		#elementActionsBoxNoEnd($element $search_field $search_value $data.getSession().getAttribute("user") $item)
	      <li class="yuimenuitem">
													       <A href="" ONCLICK="showFiles();return false;"><div class="ic"><img border="0" src="$content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")"/></div><div class="ic_spacer">&nbsp;</div>Manage Files</A>
													      </li>
													      	#if ($item.canDelete($user))
													      <li class="yuimenuitem">
													       <A href="" ONCLICK="restDelete();return false;"><div class="ic"><img border="0" src="$content.getURI("images/delete.gif")"/></div><div class="ic_spacer">&nbsp;</div>Delete</A>
													      </li>
													      #end
														  #parse($turbineUtils.getTemplateName("actionsBoxAddons","xnat:subjectData",$!project))
													     </ul>
     </DIV>
    </DIV>
					</TD>
				</TR>
				<script type="text/javascript" src="$content.getURI("scripts/BasePopup.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/restDeleter.js")"></script>
<style type="text/css">   
  .icon-of { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/of.gif")) no-repeat;}   
  .icon-f { display:block; font-size:9px; height: 17px; padding-left: 4px;}   
  .icon-cf { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")) no-repeat;} 
  .ygtvcheck0 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check0.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck1 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check1.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
  .ygtvcheck2 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check2.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
</style>
				<script type="text/javascript">
								var _a = new Array();
				var expt=null;
				  #if($project)
				    #set($pScope=$project)
				  #else
				    #set($project=$om.getProject())
				  #end
#foreach ($assessor in $subject.getMinimalLoadAssessors())
   var _t=window.available_elements.getByName("$assessor.getXSIType()");
   if(_t==null){
   	   _t={singular:"$!assessor.getItem().getProperName()",plural:"$!assessor.getItem().getProperName()",			element_name:"$assessor.getXSIType()",actions:{},"lbg":"","dbg":""}
   }
#if($assessor.getItem().instanceOf("xnat:imageAssessorData"))
													   _a.push({"label": _t.singular +" $!assessor.getIdentifier($project) ($!assessor.getId())","ru":"/REST/projects/$project/subjects/$om.getId()/experiments/$assessor.getImagesessionId()/assessors/$assessor.getId()" #if($assessor.canRead($user)),canRead:true#else,canRead:false#end,checked:true,xsiType:_t.singular,date:"$!assessor.getDate()",primary_label:"$!assessor.getIdentifier($project)",#if($pScope)"hasProject":"$!assessor.hasProject($pScope)"#else"hasProject":"true"#end});
#else
													   if(expt!=null)_a.push(expt);
													   expt=null;
													   expt={"label": _t.singular +" $!assessor.getIdentifier($project) ($!assessor.getId())",xsiType:_t.singular,date:"$!assessor.getDate()",primary_label:"$!assessor.getIdentifier($project)","ru":"/REST/projects/$project/subjects/$om.getId()/experiments/$assessor.getId()" #if($assessor.canRead($user)),canRead:true#else,canRead:false#end,checked:true,#if($pScope)"hasProject":"$!assessor.hasProject($pScope)"#else"hasProject":"true"#end};
#end
#end
   if(expt!=null)_a.push(expt);
   expt=null;
													   _a.push({"label": "Subject $!om.getIdentifier($project) ($!om.getId())","ru":"/REST/projects/$project/subjects/$om.getId()","redirect":serverRoot+"/REST/projects/$project",canRead:true,checked:true,xsiType:window.available_elements.getByName("$om.getXSIType()").singular,date:"",primary_label:"$!om.getIdentifier($project)","hasProject":"true"});
													
				function restDelete(){
   window.deleter=new RestDeleter(_a,{defaultHeight:450,defaultWidth:600});
   window.deleter.init();
				}
				
				</script>
	<TR><TD colspan="3"><BR>
			#parse("/screens/ReportProjectSpecificFields.vm")
	</TD></TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			#parse($turbineUtils.getTemplateName("_assessors","xnat:subjectData",$project))
		</TD>
	</TR>
			#parse($turbineUtils.getTemplateName("_resources","xnat:subjectData",$project))
</TABLE>
