##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<DIV VALIGN="bottom"><font face="verdana,geneva,helvetica"><hr></font></DIV>
<TABLE width="100%" height="100%"><TR><TD valign="bottom" align="right"><a target="_blank" href="http://www.nbirn.net/" onmouseover="return true;"><img src="$content.getURI("images/small_birn_logo.jpg")" border=0></a>&nbsp;<a target="_blank" href="http://www.xnat.org/" onmouseover="return true;"><img src="$content.getURI("images/xnat_power_small.jpg")" border=0></a></TD></TR></TABLE>